<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>GenService</servlet-name>
        <servlet-class>com.kazachkova.web.gwt.server.GenServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GenService</servlet-name>
        <url-pattern>/gwt/com.kazachkova.web.gwt.Example/generator</url-pattern>
        <url-pattern>/gwt/com.kazachkova.web.gwt.SignUp/generator</url-pattern>
        <url-pattern>/gwt/com.kazachkova.web.gwt.Application/generator</url-pattern>
        <url-pattern>/gwt/com.kazachkova.web.gwt.Information/generator</url-pattern>
        <url-pattern>/gwt/com.kazachkova.web.gwt.AdminStart/generator</url-pattern>
        <url-pattern>/gwt/com.kazachkova.web.gwt.AdminInformation/generator</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>